/* Header */
header h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    text-align: center;
}
header a{
    color: black;
}


/* Side Bar */
.sidenav {
    margin: -7px;
    margin-top: 70px;
    padding: 0;
    width: 130px;
    position: fixed;
    height: 100%;
}

/* Navigation menu links */
.sidenav a {
    padding: 10px; /* (in order) top side // right side // bottom side // left side */
    text-decoration: none; /* underline ect */
    font-size: 25px; /* Size of the links */
    font-family: 'Nanum Gothic' sans-serif;
    color: black; /* color of the bar? */
    display: grid; /* again no idea*/
    position: relative;
    text-align: center;
    /* background-color: bisque; */
}

.sidenav-links {
    margin-left:10px ;
    border-style: solid;
    border-radius: 20pt;
    border-color: rgb(63, 61, 61);
    transition: 0.3s;
}
/* Hover over nav links change color */
.sidenav-links:hover {
    background-color: rgb(63, 61, 61);
}
.sidenav a:hover{
    color: whitesmoke;
    text-decoration: none;
}

/* Style page content */
.main {
    margin-top: 100px;
    margin-left: 150px; /* space between body and sidebar*/
    font-family: 'Nanum Gothic', sans-serif;
} 

.main a:hover{
    text-decoration: none;
}
/* Footer */
footer{
    background-color:rgb(49, 48, 48);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* General footer links */
footer a{
    color: whitesmoke;
    text-decoration: none;
}

/* Footer link visited */
footer a:visited{
    color: whitesmoke;
}
footer h3{
    font-size: 20px;
    color: whitesmoke;
}

.mail:hover .envelope-o,
.mail .envelope-open-o {
    display: none;
}
.mail:hover .envelope-open-o {
    display: inline;
}

.linkedin{
    vertical-align: bottom;
    text-align: center;
}
.linkedin:hover{
    color: rgb(42, 120, 238);
}

.instagram{
    vertical-align: bottom;
    text-align: center;
}
.instagram:hover{
    color: rgb(202, 70, 70);
}

/* for smaller screens */
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

