/* Header */
header{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 32px;
    text-align: center;
}
/* Side Bar */
.sidenav {
    margin: -10px;
    margin-top: 50px;
    padding: 0;
    width: 130px;
    position: fixed;
    height: 100%;
}

/* Navigation menu links */
.sidenav a {
    padding: 16px; /* (in order) top side // right side // bottom side // left side */
    text-decoration: none; /* underline ect */
    font-size: 30px; /* Size of the links */
    font-family: 'Nanum Gothic' sans-serif;
    color: black; /* color of the bar? */
    display: grid; /* again no idea*/
    position: relative;
    background-color: bisque;
}

/* Hover over nav links change color */
.sidenav a:hover {
    color: grey;
}

/* Style page content */
.main {
    margin-left: 150px; /* space between body and sidebar*/
    font-family: 'Nanum Gothic', sans-serif;
} 

/* Footer */
footer{
    background-color:rgb(49, 48, 48);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
    line-height: 10px;
    width: 100%;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* General footer links */
footer a{
    color: whitesmoke;
    text-decoration: none;
}

/* Footer link visited */
footer a:visited{
    color: whitesmoke;
}

/* for smaller screens */
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
